* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

@font-face {
  font-family: HumanNature;
  src: url("assets/Human_Nature-Demo.ttf");
}

.col-2 {
  width: 100%;
}

header {
  display: flex;
  background: linear-gradient(rgba(71,69,69,0.3), rgba(71,69,69,0.3)), url('assets/hero-img.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: 'HumanNature';
  font-size: 86px;
  font-weight: 300;
  text-shadow: 1px 1px black;
  margin-bottom: 35px;
}

header p {
  line-height: 2;
  font-family: 'Ruluko', sans-serif;
  letter-spacing: .5px;
  font-size: 20px;
  padding: 50px;
}

header button {
  width: 86px;
  height: 34px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: 2px solid white;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4%;
  font-style: 34px;
}

header button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .col-2 {
    width: 50%;
  }
}
